body {
    margin: 0;
    font-family: 'Roboto', sans-serif, '游ゴシック体',  'YuGothic', 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro';
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}
h1 {
    font-size: 100px;
    color: rgb(172, 166, 230);
    letter-spacing: 5px;
}
h2 {
    text-align: center;
    font-size: 24px;
    padding-top: 40px;
    letter-spacing: 1px;
    color: #323233;
}
p {
    font-size: 18px;
    color: #323233;
}
a {
    color: #323233;
}
a:hover {
    color: white;
    text-decoration: none;
}   
.header {
    height: 80vh;
}
.nav {
    text-align: right;
}
.nav_lang {
    position: relative;
    top: 20px;
    right: 20px;
    color: black;
}
.nav_lang:hover {
    color: darkgray;
}
.hero_header {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_container {
    text-align: center;
    z-index: 1;
}
.subtitle {
    font-size: 24px;
    margin-top: 56px;
    font-weight: bold;
}
.validate {
    padding-bottom: 30px;
}
.subscribe {
    display: flex;
    justify-content: center;
}
.email {
    border:0;
    padding: 15px;
    font-size: 14px;
    font-family:Arial, sans-serif;
    border:solid 1px #ccc;
    margin:0 0 20px;
    width: 400px;
}
.email:focus {
    border:solid 1px #ACA6E6;
}
input[type="submit"] {
    font-size: 18px;
    position: relative;
    height: 100%;
    padding: 13px 30px;
    margin-left: 5px;
    text-decoration: none;
    color: white;
    background: rgb(172, 166, 230);
    transition: .4s;
    -webkit-appearance: none;
    border-radius: 0;
    border: none;
    font-weight: bold;
}
input[type="submit"]:hover {
    background: rgba(172, 166, 230, 0.5);
}
.about_area {
    background-color: rgba(220, 217, 214, 0.25)
}
.desc_container {
    width: 80vw;
    display: flex;
    justify-content: space-around;
    margin: auto;
    padding: 50px 0px;
}
.desc_box {
    width: 500px;
    margin: auto;
    margin: 20px 20px;
    background-color: white;
    box-shadow: 4px 4px 2px rgba(172, 166, 230, 0.1);
}
.description {
    width: 90%;
    padding: 30px;
    font-size: 24px;
    margin: auto;
    line-height: 30px;
}
.example {
    margin-top: 50px;
}
.ex_container {
    width: 85vw;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 40px 40px 100px 40px;
    margin: auto;
}
.card {
    width: 300px;
    height: 300px;
    border-color: red;
    border: solid 1px rgb(172, 166, 230);
    overflow:hidden;
    margin: 10px;
}
.item_image {
    width: 100%;
    height: 150px;
    background-size:cover;
    background-position: center center; 
}
.kitties {
    background-image: url('../images/kitties.png');
}
.ipfs {
    background-image: url('../images/IPFS.png');
}
.auction {
    background-image: url('../images/auction.png');
}
.item_box {
    height: 150px;
    display: flex;
}
.item_title {
    width: 90%;
    text-align: center;
    margin: auto;
}
.item_description {
    width: 90%;
    margin: auto;
}
.monitor {
    background-color: rgb(172, 166, 230);
    text-align: center;
    color: white;
}
.subscribe_container {
    padding: 40px 0px;
}
.title_subscribe {
    color: white;
    padding: 30px;
}
.monitor_description {
    width: 70vw;
    padding: 40px;
    text-align: center;
    font-size: 24px;
    margin: auto;
}
.team {
    background-color: rgba(220, 217, 214, 0.25)
}
.title_team {
    padding-top: 80px;
}
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-auto-rows: 1fr;
    grid-gap: 3em;
    padding: 2em 5em 5em 5em;
}
.grid > div {
    background: #fff;
    overflow: auto;
    min-width: 0;
    padding: 3em;
}
.member_box {
    box-shadow: 4px 4px 2px rgba(172, 166, 230, 0.1);
    text-align: center;
}
.photo {
    width: 7em;
    height: 7em;
    border-radius: 50%;
    margin: auto;
    box-shadow: 2px 2px 1px rgba(172, 166, 230, 0.2);
    background-size: cover;
    padding-top: 100px;
}
.toshiaki {
    background-image: url("../images/toshiaki.png");
}
.tanaka {
    background-image: url("../images/tanaka.png");
}
.satomi {
    background-image: url("../images/satomi.png");
}
.vitaly {
    background-image: url("../images/vitaly.png");
}
.sam {
    background-image: url("../images/sam.png");
}
.markus {
    background-image: url("../images/markus.png");
}
.vince {
    background-image: url("../images/vince.png");
}
.gwen {
    background-image: url("../images/gwen.png");
}
.name {
    font-size: 20px;
    padding: 1em;
    font-weight: bold;
}
.selfintro {
    font-size: 1em;
}
.sns {
    padding-top: 1em;
}
.footer {
    /* background-color: rgb(172, 166, 230); */
    padding: 20px;
    display: flex;
    justify-content: space-around;
}
.footer p {
    text-align: center;
    margin: auto;
}
.copyright {
    font-size: 18px;
}
.lang {
    width: 100px;
    font-size: 18px;
}

@media screen and (max-width: 900px) {
    h1 {
        font-size: 50px;
    }
    h2 {
        font-size: 20px;
    }
    .jp_title {
        width: 250px;
        margin: auto;
    }
    .subtitle {
        font-size: 18px;
    }
    .subscribe {
        display: block;
    }
    .email {
        width: 300px;
    }
    .desc_container {
        display: block;
        width: 90vw;
    }
    .desc_box {
        width: 100%;
        margin: 20px 0px;
    }
    .description {
        width: 100%;
    }
    .monitor_description {
        width: 90vw;
    }
    .ex_container {
        display: block;
        width: 95vw;
    }
    .card {
        width: 100%;
        margin-bottom: 20px;
        margin: 20px 0px;
    }
    .grid {
        padding: 1em;
    }
    .footer {
        display: block;
    }
    .lang {
        height: 30px;
    }
    .copyright {
        font-size: 12px;
    }
}